nav{
  background-color: hsl(180, 29%, 50%);
  height:80px;
  width:100%;
  background-image: url('./assets/images/bg-header-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
main{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: hsl(180, 52%, 96%);
  justify-content: center;
  align-items: center;
}